<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Aconteceu um erro!</h1>
    <p>Estamos trabalhando para corrigir.</p>

<%- include('includes/end.ejs') %>